$backgroundColor: #f7f7f7;
$whiteColor: #ffffff;
$blackColor: #000000;
$textColor: rgba(37, 45, 61, 0.8);
$cardBoxShadow: rgba(0, 0, 0, 0.1);
$buttonColor: #007487;
$cardBoxShadowHover: rgba(0, 0, 0, 0.2);
